html {
    background-color: #003b6f;
    font-size: 16pt;
    height: 100%;
}

.main-content-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.image-content {
    max-width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}